<% page_title "Contact" %>

<h2>
	Contact Us
</h2>
<p>
	Enim diam vulputate ut pharetra. Vitae auctor eu augue ut lectus. Nisl pretium fusce id velit ut tortor pretium. Id neque aliquam vestibulum morbi blandit cursus risus at. 
</p>
<ul class="styled-list">
	<li>email: <a href="mailto:me@n1g3.com">me@n1g3.com</a></li>
	<li>phone: +447549049828</li>
	<li>insta: crypton1g3</li>
	<li>
		by: <a href="https://www.n1g3.com">n1g3</a>
	</li>
	<li>Chat to me on matrix: @n1g3:n1g3.com</li>
</ul>